@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    :root {
        --dark-color: rgb(236, 236, 236);
        --light-color: #121212;
        --highlight-color: rgba(61, 61, 61, 0.5);
        --select-color: #fff;
        --footer-color: rgb(83, 83, 83);
    }
    img {
        visibility: hidden;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        --dark-color: #121212;
        --light-color: #fff;
        --highlight-color: rgba(207, 207, 207, 0.5);
        --select-color: rgb(100, 100, 100);
        --footer-color: rgb(214, 214, 214);
    }
    img {
        visibility: visible;
    }
}


body {
    color: var(--dark-color);
	font-family: -apple-system,BlinkMacSystemFont,'Inter', sans-serif;
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.3rem;
}

a {
    color: var(--dark-color);
    /* border-radius: 5px; */
    padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin: -2px;


}

img {
    max-width: min(500px, 80%);
}

h3 a {
    padding: 15px;
    margin: 10px;
    font-size: 3rem;
    text-decoration: none;
    
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--footer-color);
    font-size: 1rem;
    padding-bottom: 20px;
}

a:hover i {
    
    /* color: var(--select-color); */

}


a {
	text-decoration: underline;
	text-decoration-color: var(--dark-color);
	/* transition-duration: 0.1s; */

}

a:hover {
	text-decoration-color: transparent;
	/* font-weight: 700; */
	color: var(--light-color);
	background-color: var(--dark-color);
}
a:focus {


	animation: blinker 0.13s steps(2, end) 3;
	color: var(--light-color);
	background-color: var(--dark-color);
}

@keyframes blinker {
	0% {
		color: var(--dark-color);
		background-color: var(--light-color);
		animation-timing-function: steps(1, end);
	}
	50% {
		color: var(--light-color);
		background-color: var(--dark-color);
		animation-timing-function: steps(1, end);
	}
	100% {
		color: var(--dark-color);
		background-color: var(--light-color);
		animation-timing-function: steps(1, end);
	}
}



@media only screen and (max-width: 1200px) {
    
    body {
        padding: 50px;
        font-size: 1.1rem;
        
    }

}

@media only screen and (max-width: 600px) {
    
    body {
        padding: 10px;
        font-size: 1rem;
        text-align: left;
    }

    footer {
        padding: 10px;
    }

    a i {
        font-size: 30px;

    }
}

::selection {
	background: var(--dark-color); /* WebKit/Blink Browsers */
	color: var(--light-color)
  }
  ::-moz-selection {
	background: #ffb7b7; /* Gecko Browsers */
  }
  