body {
	font-family: helvetica, arial, sans-serif;

	
	padding-left: 7vw;
	/* padding-right: 20vw; */

	background-color: #eaf1e4;
}

.us {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
} 

#sideways
{

	/* transform: rotate(270deg); */
	writing-mode: tb-rl;
	
}
#sideways h1 {
	transform: rotate(180deg);
	font-size: 50px;
	margin-left: 10px;

}

#fillin {
	background-color: black;
	height: 500px;
	width: 10px;
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 90px;
}


#links {
	width: 1600px;
	border-bottom: 10px solid black;
	margin-left: 150px;
	/* text-align:justify; */
	z-index: 99;
	padding-bottom: 10px
	
}

#links a {
	text-decoration: none;
	color: black;
	font-size: 30px;
	margin-right: 40px;
	font-weight: bold;
}

#links a:hover {
	color: #eaf1e4;
	-webkit-text-stroke: 1px black;
	/* -webkit-text-fill-color: white; */
}


.largel {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 900;
	font-size: 1500px;
	margin-top: 10vh;
	padding-top: 430px;
	margin-left: 7vw;
	padding-left: 90px;
	color: blue;
	line-height: 0%;
	opacity: 0.7;
	z-index: -9;
	letter-spacing: 0px;
	
}

.footer {
	/* text-align: center; */
	margin-left: 150px;
	margin-top: 50px;
	color: blue;
	opacity: 0.7;
	padding-bottom: 100px;
	
}

.footer::before {
	content: "copyright 2022";
	color: red;
	position: absolute;
	margin-top: 1px;
	margin-left: 1px;
	opacity: 0.7;
}



#circle {
	width: 787px;
	height: 787px;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: calc(7vw + 900px);
	margin-top: calc(10vh + 160px);
	background: red;
	border-radius: 50%;
	opacity: 0.7;
  }

  #triangle {
	width: 787px;
	height: 787px;
	/* border-style: solid; */
	background: blue ;
	clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: calc(7vw + 900px);
	margin-top: calc(10vh + 160px);
  }


  #bottomtext {
	margin-top: 90px;
	width: 1600px;
	font-size: 30px;
	margin-left: 150px;
  }


#estd {
	/* margin-top: 200px; */
	font-size: 300px;
	position: fixed;
	opacity: 0.05;	
	top: 0;
	right: 0;
	text-align: right;
	font-weight: bold;
	z-index: -99;
	line-height: 230px;
}


.scrollprojects {
	margin-left: 150px;
	margin-top: -735px;
}

.surround {
	/* background-color: red; */
	border: 10px solid black;
	margin-top: 20px;
	padding: 20px;
}

.surround a {
	text-decoration: none;
	color: black;
}


/* responsive */

#triangle, #circle {
	margin: 0;
	margin-left: 5vw;
	width: 90vw;
	margin-top: 350px;
	height: 90vw;

}
#estd {
	display: none;
}
#links, #bottomtext {
	width:100%;
}

body {
	padding-left: 10px;
}

.largel {
	display: none;
}
#links, #bottomtext, .scrollprojects {
	width: 100%;
	margin-left: 0px
}

#bottomtext {
	margin-top: 30px;
}
#diss {
	display: none;
}

#links a {
	margin-right: 10px;
}

footer {
	display: none;
}



@media screen and (min-width: 1000px) {
	
	#links, #bottomtext, .scrollprojects {
		width: 800px;
		margin-left: 150px;
	}
	body {
		padding-left: 7vw;
		padding-top: 10vh;
	}
	.largel {
		display: block;
	}
	#bottomtext {
		margin-top: 90px;
	}
	#diss {
		display: block;
	}
	#footer {
		text-align: left;
		margin-left: 150px;
	}
	#triangle, #circle {
		display: none;
	}
	footer {
		display: block;
	}
	#estd {
		display: block;
	}
	#disp {
		display: none;
	}
}

@media screen and (min-width: 1900px) {
	#triangle, #circle {
		display: block;
		margin-left: calc(7vw + 900px);
		margin-top: calc(10vh + 160px);
		padding: 0;
		width: 787px;
		height: 787px;
	}
	#links, #bottomtext, .scrollprojects {
		width: 1600px;
	}


}





